
/* css */

.header {
  background-color: lightBlue;
  text-align: center;
  color: black;
}

.mainBody {
  padding: 2% 15%;
}

.comment {
  border: solid 1px gray;
  border-radius: 25px;
}

.comment > p {
  font-family:monospace;
  padding: 0 2%;
}

.pad {
  padding: 2% 0;
}

#negativityInput {
  width: 50%;
}
